<div class="calendar-grid group border-b border-gray-100">
    
    <div class="sticky left-0 z-10 bg-white border-r border-gray-200 p-2 text-xs font-bold text-gray-700 flex flex-col justify-center group-hover:bg-gray-50 h-full">
        <div class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
            <span class="truncate text-sm">{{ truck.name }}</span>
        </div>
        </div>

    {% for day in week_range %}
        <div class="border-r border-gray-100 p-1 min-h-[100px] bg-white hover:bg-gray-50 transition-colors relative">
            
            <div class="h-full w-full sortable-list"
                 data-date="{{ day|date:'Y-m-d' }}"
                 data-truck="{{ truck.id }}">
                 
                {% for order in scheduled_orders %}
                    {% if order.scheduled_date == day and order.order_type == 'REL' and order.scheduled_truck_id == truck.id %}
                        {% include 'scheduling/partials/order_card.html' %}
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
    {% endfor %}
</div>